<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="GPS Tracker 입니다."/>
    <meta name="keyword" content="GPS, tracker" />
    <title>GPS Tracker</title>
    <!-- <link rel="icon" type="image/svg+xml" href="favicon.svg" /> -->
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header>
        <h1 class="header__logo">GPS Tracker</h1>
        <span class="nav__open"></span>
    </header>

    <nav class="nav__menu">
        <div class="menu">
            <span class="nav__close"></span>
            <div class="yScroll">
                <ul>
                    <li><a href="">메뉴1</a></li>
                    <li class="active"><a href="">메뉴2</a></li>
                    <li><a href="">메뉴3</a></li>
                    <li><a href="">메뉴4</a></li>
                    <li><a href="">메뉴5</a></li>
                </ul>
                <ul>
                    <li><a href="">메뉴1</a></li>
                    <li><a href="">메뉴2</a></li>
                </ul>
                <ul>
                    <li><a href="">메뉴1</a></li>
                    <li><a href="">메뉴2</a></li>
                    <li><a href="">메뉴3</a></li>
                    <li><a href="">메뉴4</a></li>
                    <li><a href="">메뉴5</a></li>
                    <li><a href="">메뉴1</a></li>
                    <li><a href="">메뉴2</a></li>
                    <li><a href="">메뉴1</a></li>
                    <li><a href="">메뉴2</a></li>
                    <li><a href="">메뉴3</a></li>
                    <li><a href="">메뉴4</a></li>
                    <li><a href="">메뉴5</a></li>
                    <li><a href="">메뉴1</a></li>
                    <li><a href="">메뉴2</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <div class="cal__wrap">
            <h2 class="cal__header">2024년 8월</h2>
            <div class="cal__main">
                <div class="day__names">
                    <span>Mon</span>
                    <span>Tue</span>
                    <span>Wed</span>
                    <span>Thu</span>
                    <span>Fri</span>
                    <span>Sat</span>
                    <span>Sun</span>
                </div>
                <div class="days">
                    <span class="day"><strong></strong></span>
                    <span class="day"><strong></strong></span>
                    <span class="day"><strong></strong></span>
                    <span class="day"><strong>1</strong></span>
                    <span class="day"><strong>2</strong></span>
                    <span class="day"><strong>3</strong></span>
                    <span class="day"><strong>4</strong></span>
                    <span class="day"><strong>5</strong></span>
                    <span class="day"><strong>6</strong></span>
                    <span class="day"><strong>7</strong></span>
                    <span class="day today"><strong>8</strong></span><!--당일-->
                    <span class="day"><strong>9</strong></span>
                    <span class="day"><strong>10</strong></span>
                    <span class="day"><strong>11</strong></span>
                    <span class="day">
                        <strong>12</strong>
                        <div class="plan c1 start">testtesttesttest</div>
                        <div class="plan c2">test</div>
                        <div class="plan c3 end">test</div>
                    </span>
                    <span class="day">
                        <strong>13</strong>
                        <div class="plan c1 middle"></div>
                    </span>
                    <span class="day">
                        <strong>14</strong>
                        <div class="plan c1"></div>
                    </span>
                    <span class="day"><strong>15</strong></span>
                    <span class="day"><strong>16</strong></span>
                    <span class="day"><strong>17</strong></span>
                    <span class="day"><strong>18</strong></span>
                    <span class="day"><strong>19</strong></span>
                    <span class="day"><strong>20</strong></span>
                    <span class="day"><strong>21</strong></span>
                    <span class="day"><strong>22</strong></span>
                    <span class="day"><strong>23</strong></span>
                    <span class="day"><strong>24</strong></span>
                    <span class="day"><strong>25</strong></span>
                    <span class="day"><strong>26</strong></span>
                    <span class="day"><strong>27</strong></span>
                    <span class="day"><strong>28</strong></span>
                    <span class="day"><strong>29</strong></span>
                    <span class="day"><strong>30</strong></span>
                    <span class="day"><strong>31</strong></span>
                    <span class="day"><strong></strong></span>
                    <span class="day"><strong></strong></span>
                    <span class="day"><strong></strong></span>
                    <span class="day"><strong></strong></span>
                    <span class="day"><strong></strong></span>
                    <span class="day"><strong></strong></span>
                    <span class="day"><strong></strong></span>
                    <span class="day"><strong></strong></span>
                </div>


                <!-- <table>
                    <thead>
                        <tr>
                            <th>일</th>
                            <th>월</th>
                            <th>화</th>
                            <th>수</th>
                            <th class="today">목</th>
                            <th>금</th>
                            <th>토</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong></strong></td>
                            <td><strong></strong></td>
                            <td><strong></strong></td>
                            <td><strong>1</strong></td>
                            <td><strong>2</strong></td>
                            <td><strong>3</strong></td>
                            <td><strong>4</strong></td>
                        </tr>
                        <tr>
                            <td><strong>5</strong></td>
                            <td><strong>6</strong></td>
                            <td><strong>7</strong></td>
                            <td class="today"><strong>8</strong></td>
                            <td>
                                <strong>9</strong>
                                <div class="plan c1">testtesttesttest</div>
                                <div class="plan c2">test</div>
                                <div class="plan c3">test</div>
                            </td>
                            <td>
                                <strong>10</strong>
                                <div class="plan c1">testtesttesttest</div>
                            </td>
                            <td><strong>11</strong></td>
                        </tr>
                        <tr>
                            <td><strong>12</strong></td>
                            <td><strong>13</strong></td>
                            <td><strong>14</strong></td>
                            <td><strong>15</strong></td>
                            <td><strong>16</strong></td>
                            <td>
                                <strong>17</strong>                                
                                <div class="plan c4">testtesttesttest</div>
                                <div class="plan c5">test</div>
                                <div class="plan c6">test</div>
                            </td>
                            <td><strong>18</strong></td>
                        </tr>
                        <tr>
                            <td><strong>19</strong></td>
                            <td><strong>20</strong></td>
                            <td><strong>21</strong></td>
                            <td><strong>22</strong></td>
                            <td><strong>23</strong></td>
                            <td><strong>24</strong></td>
                            <td><strong>25</strong></td>
                        </tr>
                        <tr>
                            <td><strong>26</strong></td>
                            <td><strong>27</strong></td>
                            <td><strong>28</strong></td>
                            <td><strong>29</strong></td>
                            <td><strong>30</strong></td>
                            <td><strong>31</strong></td>
                            <td><strong></strong></td>
                        </tr>
                        <tr>
                            <td><strong></strong></td>
                            <td><strong></strong></td>
                            <td><strong></strong></td>
                            <td><strong></strong></td>
                            <td><strong></strong></td>
                            <td><strong></strong></td>
                        </tr>
                    </tbody>
                </table> -->
            </div>
        </div>
    </main>

    <div class="float__btn">
        <a href="#" class="btn add">+</a>
    </div>

    <script src="../assets/js/jquery.3.71.js"></script>
    <script>
        $(document).ready(function() {
            $('.nav__open').click(function() {
                $('.nav__menu').addClass('active');
            });
            $('.nav__close').click(function() {
                $('.nav__menu').removeClass('active');
            });
        });
    </script>
</body>
</html>