<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="GPS Tracker 입니다."/>
    <meta name="keyword" content="GPS, tracker" />
    <title>GPS Tracker</title>
    <!-- <link rel="icon" type="image/svg+xml" href="favicon.svg" /> -->
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header>
        <h1 class="header__logo">GPS Tracker</h1>
        <span class="nav__open"></span>
    </header>

    <nav class="nav__menu">
        <div class="menu">
            <span class="nav__close"></span>
            <div class="yScroll">
                <ul>
                    <li><a href="">메뉴1</a></li>
                    <li class="active"><a href="">메뉴2</a></li>
                    <li><a href="">메뉴3</a></li>
                    <li><a href="">메뉴4</a></li>
                    <li><a href="">메뉴5</a></li>
                </ul>
                <ul>
                    <li><a href="">메뉴1</a></li>
                    <li><a href="">메뉴2</a></li>
                </ul>
                <ul>
                    <li><a href="">메뉴1</a></li>
                    <li><a href="">메뉴2</a></li>
                    <li><a href="">메뉴3</a></li>
                    <li><a href="">메뉴4</a></li>
                    <li><a href="">메뉴5</a></li>
                    <li><a href="">메뉴1</a></li>
                    <li><a href="">메뉴2</a></li>
                    <li><a href="">메뉴1</a></li>
                    <li><a href="">메뉴2</a></li>
                    <li><a href="">메뉴3</a></li>
                    <li><a href="">메뉴4</a></li>
                    <li><a href="">메뉴5</a></li>
                    <li><a href="">메뉴1</a></li>
                    <li><a href="">메뉴2</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <div class="daily__wrap">
            <div class="daily__box">
                <div class="date">08.08.2024(Tue)</div>
                <div class="list__box">
                    <ul>
                        <li>
                            <div class="timeline">10:00</div>
                            <div class="todolist">
                                <strong>제 1농장 잡풀제거 (3일중 1일)</strong>
                                <p>담당자 : 홍길동</p>
                            </div>
                            <div class="detail">...</div>
                        </li>
                        <li>
                            <div class="timeline">14:00</div>
                            <div class="todolist">
                                <strong>관수 배관 수리 (1농장)</strong>
                                <p>담당업체 : ABC</p>
                            </div>
                            <div class="detail">...</div>
                        </li>
                        <li>
                            <div class="timeline">18:00</div>
                            <div class="todolist">
                                <strong>야간 작업</strong>
                            </div>
                            <div class="detail">...</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="daily__box">
                <div class="date">09.08.2024(Fri)</div>
                <div class="list__box">
                    <ul>
                        <li>
                            <div class="timeline">09:00</div>
                            <div class="todolist">
                                <strong>차량 정비(1459)</strong>
                                <p>담당자 : 홍길동</p>
                            </div>
                            <div class="detail">...</div>
                        </li>
                        <li>
                            <div class="timeline">10:00</div>
                            <div class="todolist">
                                <strong>제 1농장 잡풀제거 (3일중 2일)</strong>
                                <p>담당업체 : ABC</p>
                            </div>
                            <div class="detail">...</div>
                        </li>
                        <li>
                            <div class="timeline">11:00</div>
                            <div class="todolist">
                                <strong>제품 배송 (국정원)</strong>
                            </div>
                            <div class="detail">...</div>
                        </li>
                        <li>
                            <div class="timeline">15:00</div>
                            <div class="todolist">
                                <strong>제 1농장 수확</strong>
                            </div>
                            <div class="detail">...</div>
                        </li>
                        <li>
                            <div class="timeline">16:00</div>
                            <div class="todolist">
                                <strong>제품 배송 (국정원)</strong>
                            </div>
                            <div class="detail">...</div>
                        </li>
                        <li>
                            <div class="timeline">18:00</div>
                            <div class="todolist">
                                <strong>제 1농장 수확</strong>
                            </div>
                            <div class="detail">...</div>
                        </li>
                        <li>
                            <div class="timeline">15:00</div>
                            <div class="todolist">
                                <strong>제 1농장 수확</strong>
                            </div>
                            <div class="detail">...</div>
                        </li>
                        <li>
                            <div class="timeline">16:00</div>
                            <div class="todolist">
                                <strong>제품 배송 (국정원)</strong>
                            </div>
                            <div class="detail">...</div>
                        </li>
                        <li>
                            <div class="timeline">18:00</div>
                            <div class="todolist">
                                <strong>제 1농장 수확</strong>
                            </div>
                            <div class="detail">...</div>
                        </li>
                        <li>
                            <div class="timeline">15:00</div>
                            <div class="todolist">
                                <strong>제 1농장 수확</strong>
                            </div>
                            <div class="detail">...</div>
                        </li>
                        <li>
                            <div class="timeline">16:00</div>
                            <div class="todolist">
                                <strong>제품 배송 (국정원)</strong>
                            </div>
                            <div class="detail">...</div>
                        </li>
                        <li>
                            <div class="timeline">18:00</div>
                            <div class="todolist">
                                <strong>제 1농장 수확</strong>
                            </div>
                            <div class="detail">...</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <div class="float__btn">
        <a href="#" class="btn add">+</a>
    </div>

    <script src="../assets/js/jquery.3.71.js"></script>
    <script>
        $(document).ready(function() {
            $('.nav__open').click(function() {
                $('.nav__menu').addClass('active');
            });
            $('.nav__close').click(function() {
                $('.nav__menu').removeClass('active');
            });
        });
    </script>
</body>
</html>